[General]
Name = {{ room_endpoint_bluetooth_name }}
Class = 0x200428
DiscoverableTimeout = {{ room_endpoint_bluetooth_pairing_timeout_seconds }}
PairableTimeout = {{ room_endpoint_bluetooth_pairing_timeout_seconds }}
FastConnectable = true

[Policy]
AutoEnable = true
