room_id = "{{ room_endpoint_room_id }}"
listen_host = "{{ room_endpoint_listen_host }}"
listen_port = {{ room_endpoint_listen_port }}
bluetooth_enabled = {{ room_endpoint_bluetooth_enabled | bool | lower }}
microphone_description = "{{ room_endpoint_microphone_description }}"
speaker_description = "{{ room_endpoint_speaker_description }}"
microphone_node = "{{ room_endpoint_microphone_node }}"
speaker_node = "{{ room_endpoint_speaker_node }}"
capture_alsa_device = "{{ room_endpoint_capture_alsa_device }}"
playback_alsa_device = "{{ room_endpoint_playback_alsa_device }}"
voice_satellite_enabled = {{ room_endpoint_lva_enabled | bool | lower }}
voice_satellite_port = {{ room_endpoint_lva_port }}
airplay_enabled = {{ room_endpoint_airplay_enabled | bool | lower }}
airplay_port = {{ room_endpoint_airplay_port }}
music_assistant_enabled = {{ room_endpoint_sendspin_enabled | bool | lower }}
music_assistant_port = {{ room_endpoint_sendspin_server_port }}
music_assistant_protocol = "sendspin"
core_reporting_enabled = {{ room_endpoint_core_reporting_enabled | bool | lower }}
core_url = "{{ room_endpoint_core_url }}"
core_device_id = "{{ room_endpoint_core_device_id }}"
core_device_token_file = "{{ room_endpoint_core_device_token_file }}"
core_report_interval_seconds = {{ room_endpoint_core_report_interval_seconds }}
core_commands_enabled = {{ room_endpoint_core_commands_enabled | bool | lower }}
core_command_journal_path = "{{ room_endpoint_core_command_journal_path }}"
core_command_heartbeat_seconds = {{ room_endpoint_core_command_heartbeat_seconds }}
core_command_reconnect_min_seconds = {{ room_endpoint_core_command_reconnect_min_seconds }}
core_command_reconnect_max_seconds = {{ room_endpoint_core_command_reconnect_max_seconds }}
audio_cache_path = "{{ room_endpoint_audio_cache_path }}"
audio_max_bytes = {{ room_endpoint_audio_max_bytes }}
audio_download_timeout_seconds = {{ room_endpoint_audio_download_timeout_seconds }}
audio_cache_retention_seconds = {{ room_endpoint_audio_cache_retention_seconds }}
audio_activation_required = {{ room_endpoint_audio_activation_required | bool | lower }}
audio_activation_state_path = "{{ room_endpoint_audio_activation_state_path }}"
audio_focus_enabled = {{ room_endpoint_audio_focus_enabled | bool | lower }}
audio_focus_duck_gain = {{ room_endpoint_audio_focus_duck_gain }}
audio_focus_interval_seconds = {{ room_endpoint_audio_focus_interval_seconds }}
