[Unit]
Description=Enable Wake-on-LAN on active Proxmox LAN interface nic0
After=network-pre.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ethtool -s nic0 wol g
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
