PILOT_DISPLAY_HOST={{ display_node_listen_host }}
PILOT_DISPLAY_PORT={{ display_node_listen_port }}
PILOT_CORE_URL={{ display_node_core_url }}
PILOT_DEVICE_ID={{ display_node_device_id }}
PILOT_DEVICE_TOKEN_FILE=/etc/pilot-display/device-token
PILOT_DISPLAY_MODE={{ display_node_mode }}
PILOT_DISPLAY_VIDEO_ENABLED={{ 'true' if display_node_video_enabled | bool else 'false' }}
PILOT_ARTWORK_CACHE_DIR={{ display_node_artwork_cache_dir }}
PILOT_ARTWORK_HOSTS={{ display_node_artwork_hosts | join(',') }}
PILOT_ARTWORK_CACHE_MAX_BYTES={{ display_node_artwork_cache_max_bytes }}
PILOT_ARTWORK_CACHE_MAX_ITEMS={{ display_node_artwork_cache_max_items }}
PILOT_ARTWORK_CACHE_MAX_AGE_SECONDS={{ display_node_artwork_cache_max_age_seconds }}
